# Тестовые зависимости (unit + integration + e2e)
pytest==8.2.2
requests==2.32.3
httpx==0.27.0
cassandra-driver==3.29.1
confluent-kafka[avro,schemaregistry]==2.5.3
fastavro==1.9.4
# Для unit-тестов producer (FastAPI TestClient, модели, метрики)
fastapi==0.111.0
pydantic==2.7.4
prometheus-client==0.20.0
structlog==24.1.0
